<h2 style="text-align: center;">Rest Countries Data</h2>
<ul>
    <li>
        <a routerLink="/homes" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a routerLink="/rest-countries" routerLinkActive="active">Countries</a>
    </li>
    <li>
        <a routerLink="/capitals" routerLinkActive="active">Country & Captial</a>
    </li>
    <li>
        <a routerLink="/locations" routerLinkActive="active">Location</a>
    </li>
    <li>
        <a routerLink="/populations" routerLinkActive="active">Population</a>
    </li>
    <li>
        <a routerLink="/continents" routerLinkActive="active">Continent</a>
    </li>
    <li>
        <a routerLink="/time-zones" routerLinkActive="active">Time Zones</a>
    </li>
</ul>
