h2{
    text-align: center;
    color: #1e90ff;
}

ul li{

    list-style: none;
}
ul li a{  

    text-decoration: none;
}
ul{
    display:flex;
    justify-content: flex-start;
    gap: 30px;
    background-color: gray;
    height: 40px;
}
a{
    line-height: 40px;
    color:white;
    margin: 0px 20px;
    padding: 10px 10px;
}
.active{
    background-color: rgb(5, 0, 0);
}

img{
    background-size: cover;
    background-repeat: no-repeat;
}