<h2>Welcome to CodeHacker</h2>
<!-- <p>Data from sibling: {{message}}</p> -->
<app-login></app-login>
<table  [cellPadding]="'10'"><tr><td><button mat-raised-button color="primary" routerLink="/courses">Course</button></td>
<td><button mat-raised-button color="primary" style="margin-left:10px" routerLink="/course-details">Course Details</button></td>
<td><button mat-raised-button color="primary" routerLink="/promises">Promises</button></td>
<td><button mat-raised-button color="warn" routerLink="/tdf">Template Driven Forms</button></td>
<td><button mat-raised-button color="warn" routerLink="/reactive-forms">Reactive Forms</button></td>
</tr></table>
<!-- <app-sibiling></app-sibiling> -->