<app-all-links></app-all-links>

<div class="container" style="margin-top:30px;">
<table style="text-align: center;" class="table table-dark table-striped">
     
<div *ngIf="populations.length>0">
<tr>
    <th>Country Name</th>
    <th>Capital</th>
    <th>Population</th>
</tr>
<tr *ngFor="let res of populations">
    <td>{{res.name.common}}&nbsp;&nbsp;<img src="{{res.flags.png}}" style="width:30px;"></td>
    <td>{{res.capital}}</td>
    <td>{{res.population}}</td>
</tr>
</div>
</table>
</div>
